<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planner</title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
<div id="container">
    <div id="logo">
        <h1 onclick="location.href='welcome.html';">Planner</h1>
    </div>
    <div id="topbar">
        <p>Tasks: </p>
    </div>
    <div id="sidebar">
        <div class="optionL"><a href="task.html">Create task</a></div>
        <div class="optionL"><a href="showAllTasks.html">Display tasks</a></div>
        <div class="optionL"><a href="removeTask.html">Remove task</a></div>
        <div style="clear: both;"></div>
    </div>
    <div id="content">
        <tr th:action="@{/remove}" th:each="task" th:method="post">
            <td th:text="${task.taskTitle}">Title:</td>
            <br><br>
            <td th:text="${task.getTaskId()}">Id:</td>
            <br><br>
            <td th:text="${task.getTaskDate()}">Task date:</td>
            <br><br>
            <td th:text="${task.getTaskPriority()}">Task Priority:</td>
            <br><br>
            <td th:text="${task.getTaskCategory()}">Task Category:</td>
            <br><br>
            <td th:text="${task.getDescription()}">Description:</td>
            <br><br>
            <input type="button" value="Remove" onclick="location.href='showAllTasks.html';" class="button"/>
            <div class="dottedline"></div>
        </tr>
    </div>
    <div id="footer">
        The best Planner ever. M&A
    </div>
</div>
</body>
</html>