<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
// pokaz wszystkie
// podaj tytul
// pokaz
<ul>
    <li><tr th:each="task: ${tasks}">
        <td th:text="${task.getTaskTitle()}">Title: </td>
        <br>
        <td th:text="${task.getTaskId()}"></td>
        <br>
        <td th:text="${task.getTaskDate()}"></td>
        <br>
        <td th:text="${task.getTaskPriority()}"></td>
        <br>
        <td th:text="${task.getTaskCategory()}"></td>
        <br>
        <td th:text="${task.getDescription()}"></td>
        <br>
        <button>Usuń</button>
    </li>
    <p>+++++++++++++++++++++++++++++++++++++++</p>
</ul>
    </tr>
</body>
</html>