<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Planner</h1>
<p>Tasks:</p>
<tr th:each="task: ${tasks}">
    <td th:text="${task.taskTitle}">Title: </td>
    <br>
    <td th:text="${task.getTaskId()}">Id: </td>
    <br>
    <td th:text="${task.getTaskDate()}">Task date: </td>
    <br>
    <td th:text="${task.getTaskPriority()}">Task Priority: </td>
    <br>
    <td th:text="${task.getTaskCategory()}">Task Category: </td>
    <br>
    <td th:text="${task.getDescription()}">Description: </td>
    <br>
    <p>+++++++++++++++++++++++++++++++++++++++</p>
    <input type="button" value="Add another Task" onclick="location.href='task.html';" />
</tr>
</body>
</html>