<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<!--<form th:action="@{/add-user}" th:object="${newUser}" method="post">-->

<!--    <p>Podaj swoje imię: <input type="text" th:field="*{name}"></p>-->
<!--    <p><input type="submit" value="create"></p>-->
<!--</form>-->
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<!--<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->

<!--<tr th:each="user: ${users}">-->
<!--    <td th:text="${user.getUserId()}">Title: </td>-->
<!--    <br>-->
<!--    <td th:text="${user.getName()}"></td>-->

<!--    <p>+++++++++++++++++++++++++++++++++++++++</p>-->
<!--</tr>-->
</body>
</html>