<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create Your Planner</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Your Planner!</h1>
<p th:text="'Hello, ' + ${name} + '!'" />
<br>
<br>
<section>
    <nav>
        <ul>
            <li><a href="task.html">Create task</a></li>
            <li><a href="showAllTasks.html">Display tasks</a></li>
            <li><a href="removeTask.html">Remove task</a></li>
        </ul>
    </nav>
</section>
</body>
</html>